<mat-sidenav-container>

  <mat-sidenav  class="left-side-nav"
                position="start"
                role="navigation"
                disableClose="true"
                fixedInViewport="true"
                [autoFocus]="false"
                [fixedTopGap]="0"
                [fixedBottomGap]="0"
                mode='side'
                [opened]="opened"
                [ngStyle]="{'width': width + 'px'}">

    <app-left-panel (selected)="onItemSelected($event)">

    </app-left-panel>

  </mat-sidenav>

  <div class="main-container">
    {{ getText() }}
  </div>

</mat-sidenav-container>
